<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Financial Wealth Management Portal</h2>
        <form action="/prediction_DBS" method="POST"">
            <input type="submit" value="Predict DBS price">
        </form>
        <form action="/prediction_creditability" method="POST">
            <input type="submit" value="Predict creditability">
        </form>
        <form action="/sentiment_analysis" method="POST">
            <input type="submit" value="Sentiment analysis">
        </form>
        <form action="/faq" method="POST"">
            <input type="submit" value="FAQ">
        </form>
     </div>
</body>
