<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h4>Creditability prediction:p </h4>
        <form action="/pred_cred_result" method="POST">
            <h4> Please enter credit amount </h4>
            <!-- p forces paragraph break, basically to be mobile device-friendly  -->
            <p><input type="number"  name="q"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
    </div>
</body>
