<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Reply:  </h2>
        <p>
            <h6> 
                {% block body %}
                {{r | safe }}
                {% endblock %}
            </h6>
        </p>
        <form action="/" method="POST">
            <p><input type="submit" value="Main"></p>
        </form>
    </div>
</body>
